
/***********************************
Barra de navegação vertical*/
/*ul{
   
    margin:0;
    padding:0;
    list-style-type:none;

}

li{
    padding: 5px 20px;;
   
    background: url(../imagens/seta.png) no-repeat  left center;
    
}
*/

/*ul{
    margin:0;
    padding:0;
    list-style-type:none; 
}

ul a {
    
    width: 200px;
    height: 40px;
    display: block;
    color:#000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background:  #f7b600 url("../imagens/menu.png") no-repeat left bottom; /* sempre usar uma cor similar no caso do 
    não carregamento da imagem*/
    
/*}


a:hover {
    color: #fff;
    background-position: right bottom;
    background-color: #f99200; /* sempre usar uma cor similar no caso do 
    não carregamento da imagem*/
    
/*}
#home #navegacao .home a,
#sobre #navegacao .sobre a {
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}*/

/********************************************
Barra de navegação horizontal*/
/*ul{
    /*border:1px solid red;/* Borda somente para acompanhar*/
    /*margin:0;/* zerando a margin */
     /*padding:0;/* zerando o padding */
     /*list-style:none;/* Sem estilo na lista */
     /*width: 720px;/*largura fixa */
     /*background:#159cb0 url("../imagens/fundo-horizontal.png") repeat-x;/* Determinando uma cor de segurança 
    utilizando repeat-x para repetir somente na posição x e criar um degrader em conjuto com a cor*/
     /*float: left;/*Transformando ul em elemento flutuante para não ser sobreposta pela Li*/

 /*}
 /*ul li{
    /*border: 1px solid red;/*Borda somente para acompanha */
     /*float: left;/* Flutuando os Li para horizontal*/
 /*}
/*  */
 /*ul a{

    display: block; /* Mudando o display de inline para block */
     /*padding:0 2em;/* adicionando padding para largura dos menus */
    /* line-height:2.2em;/*Definir a altura da linha  */
     /*text-decoration:none;/*Retirar o sublinhado  */
     /*color:#fff; /*  cor do texto*/
     /*background: url(../imagens/divisor.png) repeat-y left top;/*adicionando imagem como divisor de menus */

 /*}

/*ul .primeiro a{/* anulando o background do menu, excluindo assim a divisão da esquerda  */
    /*background:none;

}*/

/*ul a:hover {/* formatando o estado hover  */
    /*color: #85662;
    background: #44cade;
/*}


#home #navegacao .home a,
#sobre #navegacao .sobre a {/* identificação da pagina*/
    /*color: #85662;
    background: #44cade;
}*/

/*******************************************
Barra de navegação com abas */
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
   width: 720px;
}

ul li{
    
    float:left;
    background: url(../imagens/aba-direita.png) no-repeat top right;
}
li a {
    display:block;
    padding:0 2em;
    line-height: 3em;
    text-decoration:none;
    background:url(../imagens/aba-esquerda.png) no-repeat top left;
    color:#FFf;
}

ul a:hover{
    color:#894a1f;
}
ul #atual {
    background:url(../imagens/aba-direita-atual.png) no-repeat top right; 
}

ul #atual a {
    background:url(../imagens/aba-esquerda-atual.png) no-repeat top left;
}